{% extends 'layout/layout' %}

{% block content %}
    <h2>{{ translate('title_lost_password') }}</h2>
    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}
    {% do lostPasswordForm.prepare() %}
    {{ form().openTag(lostPasswordForm)|raw }}
    {{ formRow(lostPasswordForm.get('csrf')) }}
    {{ formRow(lostPasswordForm.get('userEmail')) }}
    {{ formRow(lostPasswordForm.get('captcha')) }}
    {{ formRow(lostPasswordForm.get('buttonSubmit')) }}
    {{ form().closeTag(lostPasswordForm)|raw }}
{% endblock content %}
