{% extends 'layout/layout' %}

{% block content %}
    <h2>{{ translate('sign_up_title') }}</h2>
    {% do authForm.prepare() %}
    {{ form().openTag(signUpForm)|raw }}
    {{ formRow(signUpForm.get('csrf')) }}
    {{ formRow(signUpForm.get('userEmail')) }}
    {{ formRow(signUpForm.get('userPassword')) }}
    {{ formRow(signUpForm.get('userPasswordConfirm')) }}
    {{ formRow(signUpForm.get('userName')) }}
    {{ formRow(signUpForm.get('buttonSubmit')) }}
    {{ form().closeTag(signUpForm)|raw }}
{% endblock content %}
